<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <link rel="stylesheet" href="./modal.css">
</head>
<body>
  <span target="example">show modal</span>
  <button target="example">show modal</button>
<button target="example">show modal</button>
<div class="mask"></div>
<div class="modal" id="example">
  <div class="modal-title">
    
    this is title
    <span class="close">x</span>
  </div>
  <div class="modal-content">
    this is content
  </div>
  <div class="modal-footer">
    this is footer
    <button class="ok">ok</button>
    <button class="cancel">cancel</button>
  </div>
</div>

<script src="./modal.js"></script>
</body>
</html>